acme==5.1.0
aenum==3.1.16
aiodhcpwatcher==1.2.1
aiodiscover==2.7.1
aiodns==3.6.1
aiohappyeyeballs==2.6.1
aiohasupervisor==0.3.3
aiohttp==3.13.3
aiohttp-asyncmdnsresolver==0.1.1
aiohttp-cors==0.8.1
aiohttp-fast-zlib==0.3.0
aiooui==0.1.9
aiorun==2025.1.1
aiosignal==1.4.0
aiosql==14.1
aiousbwatcher==1.1.1
aiozoneinfo==0.2.3
alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
annotatedyaml==1.0.2
anyio==4.12.0
apispec==6.9.0
asgiref==3.11.0
astral==2.2
async-timeout==4.0.3
async_interrupt==1.2.2
async_upnp_client==0.46.1
asyncinotify==4.3.2
asyncpg==0.31.0
atomicwrites-homeassistant==1.4.1
attrs==25.4.0
audioop-lts==0.2.1
av==16.0.1
awesomeversion==25.8.0
bcrypt==5.0.0
bleak==1.0.1
bleak-retry-connector==4.4.3
blinker==1.9.0
bluetooth-adapters==2.1.0
bluetooth-auto-recovery==1.5.3
bluetooth-data-tools==1.28.4
boto3==1.42.22
botocore==1.42.22
btsocket==0.3.0
cached-ipaddress==1.0.1
cachelib==0.13.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
ciso8601==2.3.3
click==8.3.1
coloredlogs==15.0.1
cronsim==2.7
cryptography==46.0.2
dacite==1.9.2
dbus-fast==3.1.2
defusedxml==0.7.1
distro==1.9.0
Django==6.0
django-conduit==0.1.1
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.16.1
dnspython==2.8.0
email-validator==2.3.0
envs==1.4
fastapi==0.124.4
fastuuid==0.14.0
file-read-backwards==2.0.0
filelock==3.20.2
Flask==1.1.4
flask-apispec==0.11.4
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
flask-cors==6.0.2
Flask-JWT-Extended==3.25.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==2.5.1
fnv-hash-fast==1.6.0
fnvhash==0.2.1
frozenlist==1.8.0
fsspec==2025.12.0
go2rtc-client==0.3.0
grpcio==1.76.0
h11==0.16.0
ha-ffmpeg==3.2.2
habluetooth==5.7.0
hass-nabucasa==1.7.0
hassil==3.5.0
hf-xet==1.2.0
home-assistant-bluetooth==1.13.1
home-assistant-chip-clusters==2025.7.0
home-assistant-frontend==20251203.3
home-assistant-intents==2025.12.2
homeassistant==2026.1.2
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
huggingface_hub==1.2.4
humanfriendly==10.0
idna==3.11
ifaddr==0.2.0
importlib_metadata==8.7.1
itsdangerous==1.1.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
josepy==2.2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
litellm==1.80.11
loguru==0.7.3
lru-dict==1.3.0
Mako==1.3.10
MarkupSafe==2.0.1
marshmallow==3.26.1
mashumaro==3.17
multidict==6.7.0
mutagen==1.47.0
netifaces==0.11.0
numpy==2.3.2
openai==2.14.0
orjson==3.11.3
packaging==25.0
passlib==1.7.4
pillow==12.0.0
plantuml==0.3.0
propcache==0.4.1
psutil==7.2.1
psutil-home-assistant==0.0.1
psycopg2-binary==2.9.11
pycares==4.11.0
pycognito==2024.5.1
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
PyJWT==2.10.1
pymicro_vad==1.0.1
PyNaCl==1.6.0
pyOpenSSL==25.3.0
pyotp==2.9.0
pyparsing==3.3.1
PyQRCode==1.2.1
pyRFC3339==2.1.0
PyRIC==0.1.6.3
pyroute2==0.9.5
pyserial==3.5
pyspeex_noise==1.0.2
python-dateutil==2.9.0.post0
python-didl-lite==1.4.1
python-dotenv==1.2.1
python-matter-server==8.1.0
python-slugify==8.0.4
PyTurboJPEG==1.8.0
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rpds-py==0.30.0
s3transfer==0.16.0
scapy==2.7.0
securetar==2025.2.1
sentence_stream==1.2.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snitun==0.45.1
SQLAlchemy==2.0.41
sqlparse==0.5.4
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-telnetlib==3.13.0
starlette==0.50.0
text-unidecode==1.3
tiktoken==0.12.0
tokenizers==0.22.2
tqdm==4.67.1
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uart-devices==0.1.1
ulid-transform==1.5.2
unicode-rbnf==2.4.0
unicode-slugify==0.1.5
Unidecode==1.4.0
urllib3==2.6.2
usb-devices==0.4.5
uvicorn==0.38.0
voluptuous==0.15.2
voluptuous-openapi==0.2.0
voluptuous-serialize==2.7.0
webargs==8.7.1
webrtc-models==0.3.0
Werkzeug==1.0.1
yarl==1.22.0
zeroconf==0.148.0
zipp==3.23.0
zulip==0.9.1
